.component {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  padding: 2% 0 2% 1%;

  .left-side {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8%;
  }
  .right-side {
    padding-top: 100px;
    height: 650px;
    overflow-y: scroll;
  }
}
