<div class="component">
  <div class="row" *ngFor="let row of rows">
    <div class="row-name">{{ row }} pm</div>
    <div class="appointment"></div>
  </div>
  <div
    class="example-box"
    *ngFor="let appointment of appointments"
    cdkDragLockAxis="y"
    cdkDrag
    (cdkDragStarted)="dragingStarted()"
    (cdkDragEnded)="dragingEnded($event, appointment)"
    (click)="onAppointmentClick(appointment)"
    [ngStyle]="{
      height: calculateHeight(appointment) + 'px',
      top: calculatePosition(appointment) + 'px'
    }"
  >
    <app-appointment [time]="appointment"></app-appointment>
  </div>
</div>
