<div class="component">
  <form [formGroup]="form">
    <app-input
      controlName="title"
      label="title"
      placeholder="what is up"
    ></app-input>
    <div class="hours">
      <app-input
        controlName="start"
        label="starts"
        placeholder="HH:MM"
      ></app-input>
      <app-input controlName="end" label="ends" placeholder="HH:MM"></app-input>
    </div>
  </form>
  <div class="button">
    <app-button (clicked)="onDeleteAppointment()" text="remove"></app-button>
    <app-button (clicked)="onConfirm()" text="confirm"></app-button>
  </div>
</div>
