.component {
  display: flex;
  flex-direction: column;
  form {
    .hours {
      display: flex;
      gap: 2px;
    }
  }
  .button {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
}
